h1{
    color: brown;
}
/*halamn index*/
nav {
    background-color: blue;
    overflow: hidden;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    float: right;
}
nav a:hover {
    text-decoration: none;
    background: skyblue;
    color: black;
    padding: 20px;
    float: right;
}

img {
    float: left;
}

/* Halaman LOGIN8*/
.wrap {
    background-color: aqua; 
}
.warp{
    padding: 50px 500px 50px 500px;
}

.bg-login{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 100px;
}
input[type=button] {
    background-color: #4d70b6;
    color: #FFFFFF;
    width: 100%;
    padding: 20px;
    margin: 20px 0px 10px 0px;
    display: inline-block;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
}
  
input[type=button]:hover{
    background-color: #FFFFFF;
    color: #4d70b6;
    width: 100%;
    padding: 20px;
    margin: 20px 0px 10px 0px;
    display: inline-block;
    border: 5px solid #4d70b6;
    box-sizing: border-box;
    border-rad
form a{
    background-color: #b64d4d;
    color: #FFFFFF;
    width: 100%;
    padding: 20px;
    display: inline-block;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    text-decoration: none;
}

form a:hover{
    background-color: #FFFFFF;
    color: #b64d4d;
    width: 100%;
    padding: 20px;
    display: inline-block;
    border: 5px solid #b64d4d;
    box-sizing: border-box;
    border-radius: 100px;
    text-decoration: none;
}